html, body {
  margin: 0px;
  background-color: #2F4F30;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}


.titulo {
  text-align: center;
  background-color: black;
  color: white;
  padding: 20px;
  font-size: 25px;
}

.carta {
  position: relative;
  width: 150px;
  left: 100px;
  margin-left: -75px;
}

#computadora-cartas, #jugador-cartas {
  height: 240px;
}

#divBotones{
  margin-bottom: 10px;
}

.game{
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  
  @media (max-width: 769px) {
    grid-template-columns: 1fr; /* Cambiar a una sola columna */
  }
}